h2.brand {
    text-align: center;
    padding: 20px;
    font-family: 'Courgette', cursive;
}

h2.brand span {
    color: #F15FC1;
}

.card-body {
    padding: 0;
}

.card-header {
    cursor: pointer;
}


/* start navbar */

.navbar-brand {
    margin: auto;
    font-size: 24px;
    outline: none;
}

.navbar-brand span {
    color: #F15FC1;
}